In [1]:
import numpy as np
import tensorflow as tf
import tensorflow_datasets as tfds

In [2]:
TRAIN_DATA_URL = "https://storage.googleapis.com/tf-datasets/titanic/train.csv"
TEST_DATA_URL = "https://storage.googleapis.com/tf-datasets/titanic/eval.csv"

In [3]:
train_file_path = tf.keras.utils.get_file('train.csv', TRAIN_DATA_URL)
test_file_path = tf.keras.utils.get_file('test.csv', TEST_DATA_URL)

Downloading data from https://storage.googleapis.com/tf-datasets/titanic/train.csv
32768/30874 [===============================] - 0s 8us/step
Downloading data from https://storage.googleapis.com/tf-datasets/titanic/eval.csv
16384/13049 [=====================================] - 0s 1us/step

In [4]:
train_file_path

'/Users/libinbin/.keras/datasets/train.csv'

In [5]:
test_file_path

'/Users/libinbin/.keras/datasets/test.csv'

In [6]:
np.set_printoptions(precision=3, suppress=True)

In [7]:
!head {train_file_path}

survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,male,22.0,1,0,7.25,Third,unknown,Southampton,n
1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
1,female,26.0,0,0,7.925,Third,unknown,Southampton,y
1,female,35.0,1,0,53.1,First,C,Southampton,n
0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
0,male,2.0,3,1,21.075,Third,unknown,Southampton,n
1,female,27.0,0,2,11.1333,Third,unknown,Southampton,n
1,female,14.0,1,0,30.0708,Second,unknown,Cherbourg,n
1,female,4.0,1,1,16.7,Third,G,Southampton,n

In [8]:
import pandas as pd

In [9]:
train_data = pd.read_csv(train_file_path)

In [11]:
train_data.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [21]:
train_data.shape

(627, 10)

In [12]:
CSV_COLUMNS = ['survived', 'sex', 'age', 'n_siblings_spouses', 'parch', 'fare', 'class', 'deck', 'embark_town', 'alone']

In [13]:
dataset = tf.data.experimental.make_csv_dataset(
     ...,
     column_names=CSV_COLUMNS,
     ...)

SyntaxError: positional argument follows keyword argument (<ipython-input-13-28bc655f279f>, line 4)

In [ ]:
tf.data.experimental.make_csv_dataset()

In [14]:
LABEL_COLUMN = 'survived'
LABELS = [0, 1]

In [16]:
'''
file_pattern,
    batch_size,
    column_names=None,
    column_defaults=None,
    label_name=None,
    select_columns=None,
    field_delim=',',
    use_quote_delim=True,
    na_value='',
    header=True,
    num_epochs=None,
    shuffle=True,
    shuffle_buffer_size=10000,
    shuffle_seed=None,
    prefetch_buffer_size=-1,
    num_parallel_reads=1,
    sloppy=False,
    num_rows_for_inference=100,
    compression_type=None,
    ignore_errors=False,
'''
train_dataset = tf.data.experimental.make_csv_dataset(file_pattern=train_file_path, 
                                               batch_size=12, 
                                               label_name=LABEL_COLUMN,
                                                na_value="?",
                                                num_epochs=1,
                                                ignore_errors=True,
                                               )

In [17]:
test_dataset = tf.data.experimental.make_csv_dataset(file_pattern=test_file_path,
                                                    batch_size=12,
                                                     label_name=LABEL_COLUMN,
                                                     na_value="?",
                                                     num_epochs=1,
                                                     ignore_errors=True,
                                                    )

In [18]:
train_dataset

<PrefetchDataset shapes: (OrderedDict([(sex, (None,)), (age, (None,)), (n_siblings_spouses, (None,)), (parch, (None,)), (fare, (None,)), (class, (None,)), (deck, (None,)), (embark_town, (None,)), (alone, (None,))]), (None,)), types: (OrderedDict([(sex, tf.string), (age, tf.float32), (n_siblings_spouses, tf.int32), (parch, tf.int32), (fare, tf.float32), (class, tf.string), (deck, tf.string), (embark_town, tf.string), (alone, tf.string)]), tf.int32)>

In [20]:
examples, labels = next(iter(train_dataset)) # 第一个批次
print("EXAMPLES: \n", examples, "\n")
print("LABELS: \n", labels)

EXAMPLES:
 OrderedDict([('sex', <tf.Tensor: id=257, shape=(12,), dtype=string, numpy=
array([b'male', b'male', b'male', b'male', b'male', b'male', b'male',
       b'male', b'male', b'female', b'male', b'female'], dtype=object)>), ('age', <tf.Tensor: id=249, shape=(12,), dtype=float32, numpy=
array([32. , 29. , 30.5, 19. , 28. , 30. , 24. , 24. , 45. , 32.5, 39. ,
       18. ], dtype=float32)>), ('n_siblings_spouses', <tf.Tensor: id=255, shape=(12,), dtype=int32, numpy=array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)>), ('parch', <tf.Tensor: id=256, shape=(12,), dtype=int32, numpy=array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], dtype=int32)>), ('fare', <tf.Tensor: id=254, shape=(12,), dtype=float32, numpy=
array([  7.925,  27.721,   8.05 ,   8.158,   8.05 ,   7.229,   7.496,
       247.521,  35.5  ,  13.   ,   7.925,   9.842], dtype=float32)>), ('class', <tf.Tensor: id=251, shape=(12,), dtype=string, numpy=
array([b'Third', b'Second', b'Third', b'Third', b'Third', b'Third',
       b'Third', b'First', b'First', b'Second', b'Third', b'Third'],
      dtype=object)>), ('deck', <tf.Tensor: id=252, shape=(12,), dtype=string, numpy=
array([b'unknown', b'unknown', b'unknown', b'unknown', b'unknown',
       b'unknown', b'unknown', b'B', b'unknown', b'E', b'unknown',
       b'unknown'], dtype=object)>), ('embark_town', <tf.Tensor: id=253, shape=(12,), dtype=string, numpy=
array([b'Southampton', b'Cherbourg', b'Southampton', b'Southampton',
       b'Southampton', b'Cherbourg', b'Southampton', b'Cherbourg',
       b'Southampton', b'Southampton', b'Southampton', b'Southampton'],
      dtype=object)>), ('alone', <tf.Tensor: id=250, shape=(12,), dtype=string, numpy=
array([b'y', b'n', b'y', b'y', b'y', b'y', b'y', b'n', b'y', b'y', b'y',
       b'y'], dtype=object)>)])

LABELS:
 tf.Tensor([0 0 0 0 0 0 0 0 0 1 1 1], shape=(12,), dtype=int32)

In [26]:
examples.items[0]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [27]:
CATEGORIES = {
    'sex': ['male', 'female'],
    'class' : ['First', 'Second', 'Third'],
    'deck' : ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'embark_town' : ['Cherbourg', 'Southhampton', 'Queenstown'],
    'alone' : ['y', 'n']
}

In [28]:
categorical_columns = []
for feature, vocab in CATEGORIES.items():
  cat_col = tf.feature_column.categorical_column_with_vocabulary_list(
        key=feature, vocabulary_list=vocab)
  categorical_columns.append(tf.feature_column.indicator_column(cat_col))

In [29]:
categorical_columns

[IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='sex', vocabulary_list=('male', 'female'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='class', vocabulary_list=('First', 'Second', 'Third'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='deck', vocabulary_list=('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='embark_town', vocabulary_list=('Cherbourg', 'Southhampton', 'Queenstown'), dtype=tf.string, default_value=-1, num_oov_buckets=0)),
 IndicatorColumn(categorical_column=VocabularyListCategoricalColumn(key='alone', vocabulary_list=('y', 'n'), dtype=tf.string, default_value=-1, num_oov_buckets=0))]

In [30]:
categorical_columns = []
for feature, vocab in CATEGORIES.items():
    print(feature, vocab)

sex ['male', 'female']
class ['First', 'Second', 'Third']
deck ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
embark_town ['Cherbourg', 'Southhampton', 'Queenstown']
alone ['y', 'n']

In [31]:
def process_continuous_data(mean, data):
  # 标准化数据
  data = tf.cast(data, tf.float32) * 1/(2*mean)
  return tf.reshape(data, [-1, 1])

In [33]:
import functools

In [34]:
MEANS = {
    'age' : 29.631308,
    'n_siblings_spouses' : 0.545455,
    'parch' : 0.379585,
    'fare' : 34.385399
}

numerical_columns = []

for feature in MEANS.keys():
  num_col = tf.feature_column.numeric_column(feature, normalizer_fn=functools.partial(process_continuous_data, MEANS[feature]))
  numerical_columns.append(num_col)

In [35]:
numerical_columns

[NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=functools.partial(<function process_continuous_data at 0x649f1a9d8>, 29.631308)),
 NumericColumn(key='n_siblings_spouses', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=functools.partial(<function process_continuous_data at 0x649f1a9d8>, 0.545455)),
 NumericColumn(key='parch', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=functools.partial(<function process_continuous_data at 0x649f1a9d8>, 0.379585)),
 NumericColumn(key='fare', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=functools.partial(<function process_continuous_data at 0x649f1a9d8>, 34.385399))]

In [36]:
preprocessing_layer = tf.keras.layers.DenseFeatures(categorical_columns+numerical_columns)

In [37]:
preprocessing_layer