In [2]:
import numpy as np

import pandas as pd

from sklearn.cluster import KMeans

import matplotlib.pyplot as plt
%matplotlib inline

d:\python3.6.8\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [5]:
data = pd.read_csv('./Asiafootball.txt',header = None,names = ['国家','2006','2010','2007'])
data

        国家  2006  2010  2007
0       中国    50    50     9
1       日本    28     9     4
2       韩国    17    15     3
3       伊朗    25    40     5
4       沙特    28    40     2
5      伊拉克    50    50     1
6      卡塔尔    50    40     9
7      阿联酋    50    40     9
8   乌兹别克斯坦    40    40     5
9       泰国    50    50     9
10      越南    50    50     5
11      阿曼    50    50     9
12      巴林    40    40     9
13      朝鲜    40    32    17
14      印尼    50    50     9

In [6]:
X = data.iloc[:,1:]
X

    2006  2010  2007
0     50    50     9
1     28     9     4
2     17    15     3
3     25    40     5
4     28    40     2
5     50    50     1
6     50    40     9
7     50    40     9
8     40    40     5
9     50    50     9
10    50    50     5
11    50    50     9
12    40    40     9
13    40    32    17
14    50    50     9

In [7]:
kmeans = KMeans(n_clusters=3)

In [8]:
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [9]:
y_ = kmeans.predict(X)
y_

array([0, 1, 1, 2, 2, 0, 0, 0, 2, 0, 0, 0, 2, 2, 0])

In [12]:
c = data['国家'].values
c

array(['中国', '日本', '韩国', '伊朗', '沙特', '伊拉克', '卡塔尔', '阿联酋', '乌兹别克斯坦', '泰国',
       '越南', '阿曼', '巴林', '朝鲜', '印尼'], dtype=object)

In [16]:
for i in range(3):
    print(c[np.argwhere(y_ == i).ravel()])

['中国' '伊拉克' '卡塔尔' '阿联酋' '泰国' '越南' '阿曼' '印尼']
['日本' '韩国']
['伊朗' '沙特' '乌兹别克斯坦' '巴林' '朝鲜']