In [1]:
import numpy as np

import pandas as pd

from sklearn.neighbors import KNeighborsClassifier

In [2]:
salary = pd.read_csv('../data/adults.txt')
salary.shape

(32561, 15)

In [3]:
# 数据预处理
salary.head()

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
y = salary['salary']

In [7]:
X = salary.iloc[:,[0,1,3,5,6,8,9,-2,-3]]

In [8]:
X.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,State-gov,Bachelors,Never-married,Adm-clerical,White,Male,United-States,40
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,United-States,13
2,38,Private,HS-grad,Divorced,Handlers-cleaners,White,Male,United-States,40
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,United-States,40
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,Cuba,40

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 9 columns):
age               32561 non-null int64
workclass         32561 non-null object
education         32561 non-null object
marital_status    32561 non-null object
occupation        32561 non-null object
race              32561 non-null object
sex               32561 non-null object
native_country    32561 non-null object
hours_per_week    32561 non-null int64
dtypes: int64(2), object(7)
memory usage: 2.2+ MB

In [11]:
knn = KNeighborsClassifier()

knn.fit(X,y)

ValueError: could not convert string to float: 'United-States'

In [17]:
# 数据预处理：数据转换
workclass = X['workclass'].unique()
m = {}
for i,work in enumerate(workclass):
    m[work] = i

In [19]:
X['workclass'] = X['workclass'].map(m)

D:\Anaconda3.5.2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
X.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,0,Bachelors,Never-married,Adm-clerical,White,Male,United-States,40
1,50,1,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,United-States,13
2,38,2,HS-grad,Divorced,Handlers-cleaners,White,Male,United-States,40
3,53,2,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,United-States,40
4,28,2,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,Cuba,40

In [26]:
u = X['occupation'].unique()
np.argwhere(u == 'Sales')[0,0]

5

In [27]:
for col in X.columns[2:-1]:
    
    u = X[col].unique()
    
    def convert(x):
        return np.argwhere(u == x)[0,0]
    
    X[col] = X[col].map(convert)

D:\Anaconda3.5.2\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
X.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,0,0,0,0,0,0,0,40
1,50,1,0,1,1,0,0,0,13
2,38,2,1,2,2,0,0,0,40
3,53,2,2,1,2,1,0,0,40
4,28,2,0,1,3,1,1,1,40

In [30]:
a  = np.arange(100)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [33]:
b = a*10

In [29]:
from sklearn.model_selection import train_test_split

In [34]:
a_train,a_test ,b_train,b_test= train_test_split(a,b,test_size = 0.2)

In [37]:
display(a,b)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

array([  0,  10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120,
       130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250,
       260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380,
       390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510,
       520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640,
       650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770,
       780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900,
       910, 920, 930, 940, 950, 960, 970, 980, 990])

In [35]:
display(a_train,a_test,b_train,b_test)

array([ 0, 91, 54, 42, 35, 95, 13, 28, 94, 20, 29, 53, 64, 39, 87, 27, 43,
       30, 89, 74, 40, 44, 47, 37, 86, 58, 71, 92, 99, 57, 75, 15, 59, 46,
        8, 11, 41,  1, 62, 85, 72, 67, 60, 73, 24, 88,  2, 77, 19, 81, 50,
       16, 51, 31, 34, 83, 90, 14,  4,  6, 93,  3, 97, 32, 26, 80, 52, 69,
       10, 65, 68, 76, 17,  9, 66, 36, 98, 45, 23, 33])

array([61, 96, 48, 82, 84, 21, 22, 70, 78, 56, 79,  7,  5, 55, 12, 25, 18,
       49, 63, 38])

array([  0, 910, 540, 420, 350, 950, 130, 280, 940, 200, 290, 530, 640,
       390, 870, 270, 430, 300, 890, 740, 400, 440, 470, 370, 860, 580,
       710, 920, 990, 570, 750, 150, 590, 460,  80, 110, 410,  10, 620,
       850, 720, 670, 600, 730, 240, 880,  20, 770, 190, 810, 500, 160,
       510, 310, 340, 830, 900, 140,  40,  60, 930,  30, 970, 320, 260,
       800, 520, 690, 100, 650, 680, 760, 170,  90, 660, 360, 980, 450,
       230, 330])

array([610, 960, 480, 820, 840, 210, 220, 700, 780, 560, 790,  70,  50,
       550, 120, 250, 180, 490, 630, 380])

In [38]:
# X -----> y一一对应
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [39]:
X_train.shape

(26048, 9)

In [40]:
y_train.shape

(26048,)

In [43]:
y.unique()

array(['<=50K', '>50K'], dtype=object)

In [44]:
X.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,0,0,0,0,0,0,0,40
1,50,1,0,1,1,0,0,0,13
2,38,2,1,2,2,0,0,0,40
3,53,2,2,1,2,1,0,0,40
4,28,2,0,1,3,1,1,1,40

In [41]:

knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train,y_train)

y_ = knn.predict(X_test)

result = y_ == y_test

result.mean()

0.7741440196530017

In [45]:
knn = KNeighborsClassifier(n_neighbors=15)

knn.fit(X_train,y_train)

y_ = knn.predict(X_test)

result = y_ == y_test

result.mean()

0.7835099032703823

In [46]:
knn = KNeighborsClassifier(n_neighbors=30)

knn.fit(X_train,y_train)

y_ = knn.predict(X_test)

result = y_ == y_test

result.mean()

0.783049286043298

In [47]:
knn = KNeighborsClassifier(n_neighbors=15,weights='distance')

knn.fit(X_train,y_train)

y_ = knn.predict(X_test)

result = y_ == y_test

result.mean()

0.7858129894058038

In [48]:
X.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,0,0,0,0,0,0,0,40
1,50,1,0,1,1,0,0,0,13
2,38,2,1,2,2,0,0,0,40
3,53,2,2,1,2,1,0,0,40
4,28,2,0,1,3,1,1,1,40

In [50]:
# 最大值最小值归一化
v_min = X.min()
v_max = X.max()

In [51]:
X2 = (X - v_min)/(v_max - v_min)
X2.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,0.301370,0.000,0.000000,0.000000,0.000000,0.00,0.0,0.00000,0.397959
1,0.452055,0.125,0.000000,0.166667,0.071429,0.00,0.0,0.00000,0.122449
2,0.287671,0.250,0.066667,0.333333,0.142857,0.00,0.0,0.00000,0.397959
3,0.493151,0.250,0.133333,0.166667,0.142857,0.25,0.0,0.00000,0.397959
4,0.150685,0.250,0.000000,0.166667,0.214286,0.25,1.0,0.02439,0.397959

In [52]:
# 归一化，消除属性差异
X_train,X_test,y_train,y_test = train_test_split(X2,y,test_size = 0.2)
knn = KNeighborsClassifier(n_neighbors=15,weights='distance')

knn.fit(X_train,y_train)

y_ = knn.predict(X_test)

result = y_ == y_test

result.mean()

0.8111469368954399

In [53]:
# Z-score
v_mean = X.mean()

v_std = X.std()

X3 = (X - v_mean)/v_std
X3.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,0.030670,-1.884571,-0.991569,-0.866068,-1.378100,-0.353403,-0.703061,-0.255743,-0.035429
1,0.837096,-1.068730,-0.991569,-0.066951,-1.082777,-0.353403,-0.703061,-0.255743,-2.222119
2,-0.042641,-0.252888,-0.702015,0.732166,-0.787453,-0.353403,-0.703061,-0.255743,-0.035429
3,1.057031,-0.252888,-0.412460,-0.066951,-0.787453,1.240608,-0.703061,-0.255743,-0.035429
4,-0.775756,-0.252888,-0.991569,-0.066951,-0.492130,1.240608,1.422309,-0.057541,-0.035429

In [77]:
X3.std()

age               1.0
workclass         1.0
education         1.0
marital_status    1.0
occupation        1.0
race              1.0
sex               1.0
native_country    1.0
hours_per_week    1.0
dtype: float64

In [57]:
# 归一化，消除属性差异
X_train,X_test,y_train,y_test = train_test_split(X3,y,test_size = 0.2)
knn = KNeighborsClassifier(n_neighbors=15,weights='distance')

knn.fit(X_train,y_train)

y_ = knn.predict(X_test)

result = y_ == y_test

result.mean()

0.8132964839551666

In [58]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [62]:
X3.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,0.030670,-1.884571,-0.991569,-0.866068,-1.378100,-0.353403,-0.703061,-0.255743,-0.035429
1,0.837096,-1.068730,-0.991569,-0.066951,-1.082777,-0.353403,-0.703061,-0.255743,-2.222119
2,-0.042641,-0.252888,-0.702015,0.732166,-0.787453,-0.353403,-0.703061,-0.255743,-0.035429
3,1.057031,-0.252888,-0.412460,-0.066951,-0.787453,1.240608,-0.703061,-0.255743,-0.035429
4,-0.775756,-0.252888,-0.991569,-0.066951,-0.492130,1.240608,1.422309,-0.057541,-0.035429

In [61]:
s = StandardScaler()
X4 = s.fit_transform(X)
X4[:5]

array([[ 0.03067056, -1.88460023, -0.99158435, -0.8660817 , -1.37812112,
        -0.35340882, -0.70307135, -0.25574647, -0.03542945],
       [ 0.83710898, -1.0687461 , -0.99158435, -0.06695205, -1.08279326,
        -0.35340882, -0.70307135, -0.25574647, -2.22215312],
       [-0.04264203, -0.25289198, -0.70202542,  0.7321776 , -0.78746539,
        -0.35340882, -0.70307135, -0.25574647, -0.03542945],
       [ 1.05704673, -0.25289198, -0.4124665 , -0.06695205, -0.78746539,
         1.240627  , -0.70307135, -0.25574647, -0.03542945],
       [-0.77576787, -0.25289198, -0.99158435, -0.06695205, -0.49213753,
         1.240627  ,  1.42233076, -0.05754204, -0.03542945]])

In [76]:
X4.std(axis=0)

array([1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [64]:
X2.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,0.301370,0.000,0.000000,0.000000,0.000000,0.00,0.0,0.00000,0.397959
1,0.452055,0.125,0.000000,0.166667,0.071429,0.00,0.0,0.00000,0.122449
2,0.287671,0.250,0.066667,0.333333,0.142857,0.00,0.0,0.00000,0.397959
3,0.493151,0.250,0.133333,0.166667,0.142857,0.25,0.0,0.00000,0.397959
4,0.150685,0.250,0.000000,0.166667,0.214286,0.25,1.0,0.02439,0.397959

In [63]:
m = MinMaxScaler()

X5 = m.fit_transform(X)
X5[:5]

array([[0.30136986, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.39795918],
       [0.45205479, 0.125     , 0.        , 0.16666667, 0.07142857,
        0.        , 0.        , 0.        , 0.12244898],
       [0.28767123, 0.25      , 0.06666667, 0.33333333, 0.14285714,
        0.        , 0.        , 0.        , 0.39795918],
       [0.49315068, 0.25      , 0.13333333, 0.16666667, 0.14285714,
        0.25      , 0.        , 0.        , 0.39795918],
       [0.15068493, 0.25      , 0.        , 0.16666667, 0.21428571,
        0.25      , 1.        , 0.02439024, 0.39795918]])

In [65]:
# 保存模型
from sklearn.externals import joblib

In [66]:
joblib.dump(knn,'./model')

['./model']

In [67]:
model = joblib.load('./model')
model

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='distance')

In [68]:
model.score(X_test,y_test)

0.8132964839551666

In [70]:
joblib.dump(knn,'./model9.m',compress=9)

['./model9.m']

In [71]:
model9 = joblib.load('./model9.m')
model9

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='distance')

In [72]:
model9.score(X_test,y_test)

0.8132964839551666

In [73]:
X_train.shape

(26048, 9)

In [74]:
X_train.dtypes

age               float64
workclass         float64
education         float64
marital_status    float64
occupation        float64
race              float64
sex               float64
native_country    float64
hours_per_week    float64
dtype: object

In [75]:
26048*9*64/8/1024/1024

1.78857421875