In [1]:
import numpy as np

import pandas as pd


from pandas import Series,DataFrame

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
data = DataFrame({'sex':['男','女','女','男'],'smoke':['yes','no','no','no']})
data

  sex smoke
0   男   yes
1   女    no
2   女    no
3   男    no

In [4]:
one = OneHotEncoder()

In [5]:
X = one.fit_transform(data)
X

<4x4 sparse matrix of type '<class 'numpy.float64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [6]:
X.toarray()

array([[0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 1., 1., 0.]])

In [7]:
pd.get_dummies(data)

   sex_女  sex_男  smoke_no  smoke_yes
0      0      1         0          1
1      1      0         1          0
2      1      0         1          0
3      0      1         1          0